#CustomInput {
  position: relative;
  cursor: text;

  &.touched {
    &~.placeholder-text {
      opacity: 0;
      transform: translateX(1rem);
    }
  }

  .textarea {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    border: none;
    padding: 0;
  }

  .input-content {
    color: var(--color-text);
    white-space: pre-wrap;

    .caret {
      position: relative;
      display: inline-block;
      height: 1em;;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        left: 0;
        width: 1px;
        height: 100%;
        background: var(--color-text);
        animation: blink 1s step-start infinite;
        opacity: 1;
      }
    }

    br {
      min-height: 1em;
      display: inline-block;
      vertical-align: top;
    }

    .input-selected {
      background-color: rgba(0, 123, 255, 0.3);
    }
  }
}

@keyframes blink {
  0%, 49%   { opacity: 1; }
  50%, 100% { opacity: 0; }
}