.GifPicker {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding-left: var(--picker-side-margin);
  padding-right: 0.1rem;

  &-saved {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 6.25rem;
    grid-gap: 0.125rem;
    grid-auto-flow: dense;
    padding-bottom: 0.1875rem;
    position: relative;
    top: 0.1875rem;
    overflow-y: auto;
  
    .SymbolMenu.mobile-menu & {
      border-radius: 0;
    }
  
    .bubble {
      border-radius: var(--border-radius-default) !important;
    }
  }

  &-search {
    margin-right: var(--picker-side-margin);
  }
}
