.EmojiSearch {
  --emoji-search-height: 2.5rem;
  --icon-size: 1.25rem;

  display: flex;
  align-items: center;

  min-height: var(--emoji-search-height);
  height: var(--emoji-search-height);

  color: var(--color-text-secondary);

  margin-bottom: 0.75rem;

  background-color: var(--picker-color-background-secondary);
  border-radius: 0.75rem;

  &-icon-container {
    position: relative;
    font-size: 1.7rem;
    margin-bottom: 0.15rem;
    width: 2.25rem;
    height: 100%;
    color: var(--color-text-secondary);
    cursor: pointer;

    .EmojiSearch-icon {
      position: absolute;
      height: 100%;
      right: 0;
      align-content: center;

      opacity: 0;
      &-search {
        rotate: 180deg;
      }
      &-close {
        rotate: -180deg;
      }

      transition:
        rotate 0.2s ease-in,
        opacity 0.2s ease-in;

      &.icon-active {
        opacity: 1;
        rotate: 0deg;
      }
    }
  }

  &-input {
    flex: 1;
    height: 100%;
    position: relative;

    margin-left: 0.15rem;
    align-content: center;

    input {
      width: 100%;
      height: 100%;
      padding-left: 0.1rem;
      padding-right: 0rem;
      border: none;
      background: none;
      outline: none;
    }
  }

  &-overlay {
    display: flex;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    overflow-x: scroll;
    overflow-y: hidden;

    color: var(--color-text-secondary);
    opacity: 0.65;
    font-size: 1.1rem;

    &-placeholder {
      min-width: 9rem;
      height: 100%;
      align-content: center;
      padding-left: 0.05rem;
      padding-top: 0.1rem;

      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

      &.placeholder-hidden {
        opacity: 0;
        transform: translateX(1rem);
      }
    }

    &-buttons {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;
      gap: 0.1rem;
      pointer-events: all;

      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      &-hidden {
        opacity: 0;
      }
    }

    &-button {
      --button-size: 1.75rem;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      height: auto;
      width: var(--button-size) !important;

      .icon {
        height: var(--button-size);
        line-height: calc(var(--button-size) - 0.6rem);
        font-size: calc(var(--emoji-search-height) * 0.8) !important;

        transition: font-size 0.2s ease-in-out;

        &:hover {
          font-size: var(--emoji-search-height) !important;
        }
      }

      &-active {
        .icon {
          color: var(--picker-color-primary);
          font-size: var(--emoji-search-height) !important;
        }
      }
    }
  }
}
