@use "../../../styles/mixins";

#FolderMenu {
  --folder-menu-width: 3.5rem;
  --folder-icon-size: 2rem;
  --folder-emoji-size: 70%;
  --folder-name-size: 0.65rem;
  --folder-badge-right: 0.4rem;
  --button-top-margin: 0rem;
  --button-badge-top: 0.1rem;

  @media (min-width: 926px) {
    --folder-menu-width: 4.5rem;
    --folder-icon-size: 2.3rem;
    --folder-emoji-size: 50%;
    --folder-name-size: 0.75rem;
    --folder-badge-right: 0.7rem;
    --button-top-margin: 0.6rem;
    --button-badge-top: 0.25rem;
  }

  @media (min-width: 1276px) {
    --folder-menu-width: 5.5rem;
    --folder-icon-size: 2.5rem;
    --folder-emoji-size: 45%;
    --folder-name-size: 0.85rem;
    --folder-badge-right: 1.5rem;
  }

  display: none;
  &.open {
    display: flex;
  }
  
  flex-direction: column;
  background-color: var(--color-background);
  width: var(--folder-menu-width);
  border-right: 1px solid var(--color-borders);
  z-index: var(--z-left-column-folders-menu);

  .LeftColumn-menu-header {
    padding: 0.375rem;
    height: var(--header-height);

    .DropdownMenuFiller {
      width: 2.5rem;
      height: 2.5rem;
    }

    .DropdownMenu {
      justify-items: center;

      .Button {
        // Safari fix (auto right margin)
        margin-left: auto;
        margin-right: auto;
      }
    }

    .animated-menu-icon {
      opacity: 0.7;
      justify-self: center;

      &,
      &::before,
      &::after {
        width: 1.125rem;
        height: 0.14rem;
        border-radius: 0.125rem;
        background-color: var(--color-icon-secondary);
        transition: transform 0.25s;
        transform: rotate(0);
      }

      &::before,
      &::after {
        position: absolute;
        left: 0;
        content: "";
      }

      &::before {
        top: -0.3125rem;
      }

      &::after {
        top: 0.3125rem;
      }

      &.state-back {
        transform: rotate(180deg);

        &::before {
          top: -0.34rem;
          transform: rotate(45deg) scaleX(0.75) translate(0.375rem, -0.1875rem);
        }

        &::after {
          top: 0.34rem;
          transform: rotate(-45deg) scaleX(0.75) translate(0.375rem, 0.1875rem);
        }
      }

      &.no-animation {
        transition: none;

        &::before,
        &::after {
          transition: none;
        }
      }
    }

    .MenuItem .Toggle {
      margin-inline-start: auto;
    }

    .MenuItem.compact .Toggle {
      transform: scale(0.75);
      margin-inline-end: -0.125rem;
    }

    .MenuItem.compact .Switcher {
      transform: scale(0.75);
    }

    .Menu .bubble {
      min-width: 17rem;
      max-height: calc(100 * var(--vh) - 3.75rem);

      overflow-y: auto;
    }

    // @optimization
    @include mixins.while-transition() {
      .Menu .bubble {
        transition: none !important;
      }
    }
  }

  .LeftColumn-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0.5rem 0;
    
    // Scrollbar
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;  // Safari fix
    }

    .LeftColumn-menu-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.3rem;

      .Button {
        --custom-emoji-size: 2.5rem;

        display: flex;
        flex-direction: column;
        text-transform: none;
        padding: 0;
        margin-top: var(--button-top-margin);
        height: 100%;

        .folderEmoji {
          width: var(--folder-emoji-size);
          height: auto;
        }

        .folderIcon {
          font-size: var(--folder-icon-size);
          opacity: 0.8;
        }

        .folderName {
          margin-top: 0.05rem;
          font-family: 'Roboto', sans-serif;
          font-size: var(--folder-name-size);
          font-weight: 400;
          overflow: hidden;
          width: 100%;
        }

        color: var(--color-text-secondary);

        &:hover {
          color: var(--color-text);
        }

        &.button-active {
          color: var(--color-primary);
          .folderIcon {
            opacity: 1;
          }
        }
      }

      .badge {
        position: absolute;
        top: var(--button-badge-top);
        right: var(--folder-badge-right);
        
        min-width: 1.25rem;
        background: var(--color-primary);
        border-radius: 0.75rem;
        padding: 0 0.3125rem;
        color: white;
        font-size: 0.8rem;
        line-height: 1.3125rem;
        font-weight: var(--font-weight-medium);
        text-align: center;
        pointer-events: none;
  
        body.is-ios &,
        body.is-macos & {
          line-height: 1.25rem;
        }

        &.icon {
          top: calc(var(--button-badge-top) + 0.2rem);
          right: calc(var(--folder-badge-right) - 0.1rem);
          font-size: 1.2rem;
          background: none;
          color: var(--color-error-shade);
        }
      }
    }
  }

  .LeftColumn-menu-tab-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.25rem;
    background-color: var(--color-primary);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    transition: top 0.25s ease-in-out, opacity 0.4s ease-in-out;

    &.tab-indicator-hidden {
      top: -5rem !important;
      opacity: 0;
    }
  }
}