#LeftMainHeader {
  position: relative;

  .extra-spacing {
    position: relative;
    margin-left: 0.8125rem;

    body.is-electron.is-macos #Main:not(.is-fullscreen) & {
      margin-left: 0.5rem;
    }
  }

  .emoji-status-effect {
    top: 50%;
    left: 50%;
  }

  .emoji-status {
    --custom-emoji-size: 1.5rem;
    color: var(--color-primary);
  }

  .StarIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .SearchInput {
    transition: opacity var(--layer-transition);

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .left-search-picker-item {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);
    padding-right: 0;

    &[dir="rtl"] {
      left: auto;
      right: -0.125rem;
    }
  }
}
