@use "../../styles/mixins";

.EmojiPicker {
  height: 100%;
  --emoji-size: 2.25rem;
  --color-primary: var(--color-code-own); // fix

  --header-height: 3rem;
  &.search-focused {
    --header-height: 0rem;
  }

  &-main {
    height: calc(100% - var(--header-height));
    transition: height 250ms ease-in-out;

    overflow-y: auto;
    padding: 0rem 0.75rem;

    @include mixins.adapt-padding-to-scrollbar(0.75rem);

    .symbol-set {
      margin-bottom: 0.5rem;

      &-header {
        &:not(.with-add-button) {
          justify-content: center;

          .symbol-set-title {
            padding: 0;
          }

          .symbol-set-name {
            font-size: 1rem;
            line-height: 1.6875rem;
            font-weight: var(--font-weight-medium);
            margin: 0;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  &-header {
    height: var(--header-height);
    transition: height 250ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.5rem;
    gap: 0.2rem;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    &.with-top-border {
      /* stylelint-disable-next-line plugin/whole-pixel */
      box-shadow: inset 0 -0.5px 0 0 var(--color-borders-alternate);
    }

    .symbol-set-button {
      margin: 0;

      .icon {
        font-size: 1.9rem;
        margin-bottom: 2px; // Fix iconfont alignment
        margin-left: 2px; // Fix iconfont alignment
      }
    }

    @media (max-width: 600px) {
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: flex-start;
      white-space: nowrap;
      padding: 0 0.25rem;

      scrollbar-width: none;
      scrollbar-color: rgba(0, 0, 0, 0);

      &::-webkit-scrollbar {
        height: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
      }

      .symbol-set-button {
        display: inline-flex;
        vertical-align: middle;
      }

      // Spacer to counter last button margin not being accounted in scroll width
      &::after {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 1px;
        height: 1rem;
      }
    }

    // Custom emojis selection in header
    &>.shared-canvas-container {
      display: flex;

      &>.shared-canvas {
        max-width: 1280px;
        z-index: 1;
      }

      .sticker-cover {
        position: relative;
        margin-left: 0.2rem;

        .symbol-set-button {
          display: inline-grid;
          vertical-align: middle;
          grid-template-areas: "cover";
          justify-content: center;
          align-items: center;
          margin: 0 !important;
          width: var(--custom-emoji-size);
          height: var(--custom-emoji-size);

          &.interactive:hover {
            background-color: transparent;
          }
        }

        .sticker-active-indicator {
          position: absolute;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 95%;
          border-radius: 0.25rem;

          background-color: transparent;

          &.activated {
            background-color: var(--color-primary);
            opacity: 0.3;
          }
        }

        &:hover {
          .sticker-active-indicator {
            &:not(.activated) {
              background-color: var(--color-interactive-element-hover);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &-search-results {
    .symbol-set{
      margin-bottom: 0.15rem;
    }

    &-divider {
      margin-bottom: 0.5rem;
      border: 1px solid var(--color-dividers);
    }

    &-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-size: 1.25rem;
      color: var(--color-text-secondary);
    }
  }
}