.horizontal-tab-selector {
  --horizontal-tab-selector-width: 1.8rem;

  &-container {
    width: var(--horizontal-tab-selector-width);
    height: var(--horizontal-tab-selector-width);

    background-color: transparent;
    border-radius: 2rem;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 0.1rem;
    overflow: hidden;
    background-color: transparent;

    transition:
      width 250ms ease-out,
      height 100ms ease-in,
      background-color 100ms ease-in,
      border-radius 100ms ease-in,
      box-shadow 100ms ease-in,
      padding 100ms ease-in;

    .horizontal-tab-selector-button {
      width: 0 !important;
      height: var(--horizontal-tab-selector-width);
      transition: width 150ms ease-in;

      &.placeholder {
        width: var(--horizontal-tab-selector-width) !important;
      }

      padding: 0;

      .icon {
        transition: font-size 100ms ease-in;
        margin-bottom: 2px !important; // Fix iconfont alignment
        margin-left: 1px !important; // Fix iconfont alignment
      }
    }

    &.expanded {
      width: calc(var(--horizontal-tab-selector-width) * 4);
      height: 2.1rem;

      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      background-color: var(--emoji-color-background);
      border-radius: 2.3rem;
      padding: 0 0.3rem;

      box-shadow: inset 0 0 0.1rem 0.02rem var(--color-borders-alternate);

      .horizontal-tab-selector-button {
        width: var(--horizontal-tab-selector-width) !important;
        height: var(--horizontal-tab-selector-width) !important;

        &.selected {
          color: var(--emoji-color-primary);

          .icon {
            font-size: var(--emoji-header-size) !important;
            margin-bottom: 2px !important; // Fix iconfont alignment
          }
        }

        .icon {
          font-size: calc(var(--emoji-header-size) - 0.2rem) !important;
          margin-bottom: 2px !important; // Fix iconfont alignment
          margin-left: 1px !important; // Fix iconfont alignment
        }
      }
    }
  }
}